<app-nav-bar></app-nav-bar>

<div class="container-fluid">
  <div class="container">
    <div *ngIf="photo">

      <div class="main-row">
        <!-- Main section with the image and author -->
        <div class="photo-main-section">
          <div class="photo-header">
            <!-- Author section -->
            <div (click)="goToAuthorProfile()" style="cursor: pointer;" class="author-section">
              <img [src]="photo.user?.profilePictureUrl || 'assets/image/user_def.png'"             
                alt="Profile" 
                class="profile-img" 
                />
              <div class="author-info">
                <h6>{{ photo.user?.firstName }} {{ photo.user?.lastName }}</h6>
                <button class="btn-follow">Follow</button>
              </div>
            </div>
          
            <!-- Action buttons -->
            <div class="action-buttons">
              <button 
                class="action-btn bookmark-btn" 
                (click)="toggleBookmark(photo, $event)"
                [ngClass]="{'bookmarked': photo.isCurrentUserSaved}">
                <i class="fa" 
                  [ngClass]="photo.isCurrentUserSaved? 'fa-solid far fa-bookmark text-danger' : 'fa-regular far fa-bookmark text-secondary'"></i> 
                  <span class="hide-text">Collect</span>  
              </button>

              <button 
                class="action-btn like-btn" 
                (click)="toggleLike(photo, $event)"
                [ngClass]="{'liked': photo.isCurrentUserLiked}">
                <i class="fa" 
                  [ngClass]="photo.isCurrentUserLiked ? 'fa-solid fa-heart text-danger' : 'fa-regular fa-heart text-secondary'"></i> 
                <span class="hide-text">Like</span> 
                <span class="like-count">{{ photo.likeCount }}</span>
              </button>

              <button 
                class="action-btn primary-btn"  
                (click)="onPrimaryAction()">
                <i class="fas" [ngClass]="isOwnProfile ? 'fa-edit' : 'fa-download'"></i> 
                {{ isOwnProfile ? 'Edit photo' : 'Try preview' }}
              </button>
            </div>
          </div>

          <!-- Image -->
          <div class="image-section">
            <div class="image-container">
                <img src="{{photo.url}}" alt="">
            </div>
          </div>
        </div>

        <!-- Purchase section -->
        <div class="purchase-section">
          <p class="purchase-intro">Find the type and plan that works best for your needs.</p>
          <div class="purchase-form">
            <form>
              <label class="price-option">
                <input type="radio" name="opcija" value="opcija1" checked>
                <span class="price-text">{{photo.price ? photo.price : 15}}$ for this image</span>
              </label>
            </form>
            <hr>
            <button class="btn-purchase"
              (click)="purchase()" 
              [disabled]="isLoading"
            >
              <span *ngIf="!isLoading">Continue with purchase</span>
                <div *ngIf="isLoading" class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
            </button>
          </div>

          <div class="photo-info">
            <p>Upload date: {{helperService.normalizeDate(photo.uploadedAt.toString())}}</p>
            <p *ngIf="photo.location">Location: {{photo.location}}</p>
            <p>Views: {{photo.viewCount}}</p>
            <p>Description: {{photo.description}}</p>
          </div>
          <div class="tags-container">
            <h5>Search similar images</h5>
            <app-tags-show [tags]="photoTags"></app-tags-show>
          </div>
        </div>
      </div>
      

      <!-- Description section -->
      <div class="bottom-section">
        <div class="photo-title-section">
          <div class="title-info">
            <i class="fa-brands fa-creative-commons"></i>
            <p>{{ photo?.title }}</p>
          </div>
          <div class="photo-actions">
            <button class="photo-action-btn">
              <i class="fa-solid fa-share"></i> Share
            </button>
            <button (click)="openReportModal()" class="photo-action-btn">
              <i class="fa-solid fa-flag"></i> Report
            </button>
            <!-- IisOwnProfile -->
            <button *ngIf="isOwnProfile" class="photo-action-btn delete-btn">
              <i class="fa-solid fa-trash"></i> Delete
            </button>
          </div>
        </div>
      </div>
    
    </div>
</div>


<app-create-report 
  *ngIf="showReportModal"
  [photo]="photo"
  (closeReportModal)="closeReportModal($event)"
></app-create-report>