<div class="form-group">
  <label *ngIf="showLabel" [for]="label" [class.required]="isRequired">
    {{ label }}
  </label>
  <input
    [type]="type"
    [formControl]="control"
    class="form-control"
    [class.is-invalid]="(control.touched || control.dirty) && (control.invalid || customError)"
    [placeholder]="placeholder || label"
    [attr.minlength]="minLength"
    [attr.maxlength]="maxLength"
    [id]="label"
  />
  <div *ngIf="(control.touched || control.dirty) && (control.invalid || customError)" class="invalid-feedback d-block" [innerHTML]="errorMessage">
  </div>

</div>
