 <div class="tags-container">
      <div class="tags-show" #tagsContainer (scroll)="onScroll()">
        <div class="tags-show-item" *ngFor="let tag of tags">
          <a [routerLink]="['/search', tag]">
            <span>{{tag}}</span>
          </a>
        </div>
      </div>
      
      <div 
        class="scroll-arrow scroll-left" 
        [class.visible]="showLeftArrow"
        (click)="scrollLeft()">
        <i class="fa-solid fa-chevron-down fa-rotate-90 fa-xs" style="color: #000000;"></i>      </div>
      
      <div 
        class="scroll-arrow scroll-right" 
        [class.visible]="showRightArrow"
        (click)="scrollRight()">
        <i class="fa-solid fa-chevron-up fa-rotate-90 fa-xs" style="color: #000000;"></i>
      </div>
    </div>