
<!-- Sidebar navigation -->
<nav>
    <div class="logo">
        <img src="assets/image/logo.png" height="50px" width="50px" alt="Logo">
    </div>
    
    <ul>
        <div routerLink="overview" class="sidebar-link" (click)="sendTitleToParent('Overview')">
            <li>Overview</li>
            <i class="fa-solid fa-house fa-xl" style="color: #02a388;"></i>
        </div>
        <div routerLink="content" class="sidebar-link" (click)="sendTitleToParent('Content')">
            <li>Content</li>
            <i class="fa-solid fa-file-lines fa-xl" style="color: #02a388;"></i>
        </div>
        <div routerLink="users" class="sidebar-link" (click)="sendTitleToParent('Users')">
            <li>Users</li>
            <i class="fa-solid fa-user fa-xl" style="color: #02a388;"></i>
        </div>
        <div routerLink="photos" class="sidebar-link"  (click)="sendTitleToParent('Photos')">
            <li>Photos</li>
            <i class="fa-solid fa-image fa-xl" style="color: #02a388;"></i>
        </div>
        <div routerLink="tags" class="sidebar-link" (click)="sendTitleToParent('Tags')">
            <li>Tags</li>
            <i class="fa-solid fa-tags fa-xl" style="color: #02a388;"></i>
        </div>
        <div routerLink="settings" class="sidebar-link" (click)="sendTitleToParent('Settings')">
            <li>Settings</li>
            <i class="fa-solid fa-gear fa-xl" style="color: #02a388;"></i>
        </div>
    </ul>

   
</nav>

