<div class="container-fluid p-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-header custom-header p-2 text-white text-center fs-3">Pixly</div>
          <div class="card-body">
            <h4 class="text-start fw-medium">Join</h4>
            <p class="text-start m-0 small mb-3">
              Already a member? <a class="pixly" routerLink="/login">Sign in</a>
            </p>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <!-- First Name Field -->
                <div class="col-md-6 mb-3 pe-md-1">
                  <app-text-input
                    formControlName="firstName"
                    [label]="'First Name'"
                    [isRequired]="true"
                    [minLength]="2"
                    [maxLength]="20">
                  </app-text-input>
                </div>

                <!-- Last Name Field -->
                <div class="col-md-6 mb-3 ps-md-1">
                  <app-text-input
                    formControlName="lastName"
                    [label]="'Last Name'"
                    [isRequired]="true"
                    [minLength]="2"
                    [maxLength]="20">
                  </app-text-input>
                </div>
              </div>

              <!-- Email Field -->
              <div class="mb-3">
                <app-text-input
                  formControlName="email"
                  [label]="'Email'"
                  [type]="'email'"
                  [isRequired]="true"
                  [customError]="emailError">
                </app-text-input>
              </div>

              <!-- Password Field -->
              <div class="mb-3">
                <app-password-input
                  formControlName="password"
                  [label]="'Password'"
                  [showToggle]="true"
                  [showStrengthIndicators]="true"
                  [isVisible]="showPassword"
                  (toggleVisibility)="togglePasswordVisibility()">
                </app-password-input>
              </div>

              <!-- Confirm Password Field -->
              <div class="mb-4">
                <app-password-input
                  formControlName="confirmPassword"
                  [label]="'Confirm Password'"
                  [showToggle]="true"
                  [isVisible]="showConfirmPassword"
                  [showPasswordMatchError]="registerForm.errors?.['NoPasswordMatch'] &&
                    (registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty)"
                  (toggleVisibility)="toggleConfirmPasswordVisibility()">
                </app-password-input>
              </div>

              <!-- Submit Button -->
              <div class="mb-3">
                <app-submit-button
                  [isLoading]="isLoading"
                  [isDisabled]="registerForm.invalid || !!emailError"
                  [text]="'Sign Up'">
                </app-submit-button>
              </div>

              <!-- Terms and Conditions -->
              <div class="text-center small">
                <p>By joining you accept our <a class="pixly">Privacy Policy</a> and <a class="pixly">Terms of Use</a>.</p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
