nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  z-index: 100;
  height: auto;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.search-bar {
  width: 50%;
  border-radius: 5px;
  background-color: var(--pixly-backround-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1001;
}

.search-bar.search-bar-logged {
  width: 40%;
}

.search-bar input {
  width: 95%;
  outline-style: none;
  border: none;
  background-color: var(--pixly-backround-color);
  font-size: 13px;
  font-weight: 500;
}

.menu {
  width: 35%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu.menu-logged {
  justify-content: space-between;
}

.menu.menu-logged .menu-link {
  width: calc(100% / 4);
}

.menu-link {
  color: var(--pixly-text-primary-color);
  cursor: pointer;
  text-align: center;
}

.hover-dropdown {
  position: relative;
}

.custom-dropdown-btn {
  color: var(--pixly-text-primary-color);
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.hover-dropdown::after {
  content: '';
  position: absolute;
  height: 15px;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 999;
}

.custom-dropdown-btn:hover {
  color: var(--pixly-text-primary-color-hover);
}

.hover-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: calc(100% + 15px);
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
  padding: 10px 0;
  min-width: 150px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.hover-dropdown:hover .dropdown-menu,
.hover-dropdown .dropdown-menu:hover {
  display: block;
}

.dropdown-menu .dropdown-item {
  padding: 10px 20px;
  font-weight: 500;
  color: var(--pixly-text-secondary-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f5f5f5;
}

.hamburger-icon {
  display: none;
  z-index: 1001;
}

.hamburger-menu {
  display: none;
}


@media (max-width: 1024px) {

  .search-bar {
    width: 45%;
  }

  .search-bar.search-bar-logged {
    width: 30%;
  }

  .menu.menu-logged {
    width: 45%;
  }
}


@media (max-width: 900px) {
  .search-bar {
    width: 70%;
  }

  .search-bar.search-bar-logged {
    width: 50%;
  }

  .menu {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .hamburger-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000;
    background-color: black;
    width: 100vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 70px 15px;
    box-sizing: border-box;
  }

  .hamburger-menu .explore-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .hamburger-menu .explore-menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    text-align: left;
    width: 100%;
  }

  .hamburger-menu .explore-menu a:hover {
    color: #ccc;
    transition: 0.3s;
  }
}
