<!-- src/app/shared/components/nav-bar/nav-bar.component.html -->
<div class="container">
  <nav>
    <div class="logo" (click)="goToHome()">
        <img src="assets/image/logo.png" height="50px" width="50px">
    </div>

    <div class="search-bar" [ngClass]="isLoggedIn ? 'search-bar search-bar-logged' : 'search-bar'">
      <input [value]="searchService.getSearchObject().title" (keyup)="search($event)" type="text" placeholder="Search...">
      <i class="fas fa-search" (click)="searchByClick()"></i>
    </div>

    <div [ngClass]="isLoggedIn ? 'menu menu-logged' : 'menu'">
      <div>
        <div class="dropdown hover-dropdown">
          <div class="custom-dropdown-btn">
            Explore <i class="fa-solid fa-angle-down ms-1"></i>
          </div>
          <ul class="dropdown-menu custom-dropdown-menu">
            <li><a class="dropdown-item"><i class="fas fa-globe"></i> Discover Photos</a></li>
            <li><a class="dropdown-item"><i class="fas fa-trophy"></i> Leaderboard</a></li>
            <li><a class="dropdown-item"><i class="fas fa-medal"></i> Challenges</a></li>
            <li><a class="dropdown-item"><i class="fas fa-video"></i> Free Videos</a></li>
            <li><a class="dropdown-item"><i class="fas fa-blog"></i> Pixly Blog</a></li>
          </ul>
        </div>
      </div>

      <div class="notification" *ngIf="isLoggedIn">
        <i class="fa-regular fa-bell fa-lg"></i>
      </div>

      <!-- User section when not logged in -->
      <div *ngIf="!isLoggedIn">
        <button [routerLink]="['/register']">Join</button>
      </div>

      <!-- User section when logged in -->
      <div *ngIf="isLoggedIn" class="user-info dropdown hover-dropdown">
        <div class="d-flex align-items-center">
          <img src="assets/image/avatar.png" height="40px" width="70px" class="rounded-circle" alt="Profile">
          <span class="ms-2 d-none d-md-inline">{{ currentUser?.firstName || 'User' }}</span>
          <i class="fa-solid fa-angle-down ms-1"></i>
        </div>
        <ul class="dropdown-menu custom-dropdown-menu">
          <li><a class="dropdown-item"><i class="fas fa-user"></i> My Profile</a></li>
          <li><a class="dropdown-item"><i class="fas fa-cog"></i> Settings</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
      </div>

      <div *ngIf="isLoggedIn">
        <button>Upload</button>
      </div>
    </div>

    <div class="hamburger-icon" (click)="menuOpen = !menuOpen">
      <i class="fas"
         [ngClass]="menuOpen ? 'fa-times' : 'fa-bars'"
         [style.color]="menuOpen ? 'white' : 'black'"
         style="font-size: 30px;">
      </i>
    </div>

    <div class="hamburger-menu" *ngIf="menuOpen">
      <div class="explore-menu">
        <a href="#">Home</a>
        <a href="#">Leaderboard</a>
        <a href="#">Popular Searches</a>
        <a href="#">Pricing</a>
        <ng-container *ngIf="isLoggedIn">
          <hr class="bg-white">
          <a href="#">My Profile</a>
          <a href="#">Settings</a>
          <a href="#" (click)="logout()">Logout</a>
        </ng-container>
        <ng-container *ngIf="!isLoggedIn">
          <hr class="bg-white">
          <a [routerLink]="['/register']">Join</a>
        </ng-container>
      </div>
    </div>
  </nav>
</div>
