<div class="container">
  <nav>
    <div class="logo" (click)="goToHome()">
      <img src="assets/image/logo.png" height="50px" width="50px">
    </div>

    <div class="search-bar" [ngClass]="(isLoggedIn$ | async) ? 'search-bar search-bar-logged' : 'search-bar'">
      <input
        [(ngModel)]="currentSearchText"
        (keyup)="getSearchSuggestions($event)"
        [value]="searchService.getSearchObject().title"
        (keyup)="search($event)"
        (focus)="searchFocused($event)"
        (blur)="searchBlured($event)"
        type="text" placeholder="Search...">
      <i class="fas fa-search" (click)="searchByClick()"></i>

      <div class="search-bar-suggestions"
           [class.visible]="isSuggesionsVisible"
           *ngIf="searchService.searchSuggestions().length > 0">
        <div class="search-bar-suggestion"
             *ngFor="let suggestion of searchService.searchSuggestions()"
             (click)="useSuggestion(suggestion); $event.stopPropagation()"
             (mousedown)="$event.preventDefault()">
          <span [innerHTML]="highlightMatches(suggestion)"></span>
          <i class="fa-solid fa-arrow-up fa-rotate-by" style="--fa-rotate-angle: 45deg;"></i>
        </div>
      </div>
    </div>

    <div [ngClass]="(isLoggedIn$ | async) ? 'menu menu-logged' : 'menu'">
      <div>
        <div class="dropdown hover-dropdown">
          <div class="custom-dropdown-btn">
            Explore <i class="fa-solid fa-angle-down ms-1"></i>
          </div>
          <ul class="dropdown-menu custom-dropdown-menu">
            <li><a class="dropdown-item"><i class="fas fa-globe"></i> Discover Photos</a></li>
            <li><a class="dropdown-item"><i class="fas fa-trophy"></i> Leaderboard</a></li>
            <li><a class="dropdown-item"><i class="fas fa-medal"></i> Challenges</a></li>
            <li><a class="dropdown-item"><i class="fas fa-video"></i> Free Videos</a></li>
            <li><a class="dropdown-item"><i class="fas fa-blog"></i> Pixly Blog</a></li>
          </ul>
        </div>
      </div>

      <div class="notification" *ngIf="isLoggedIn$ | async">
        <i class="fa-regular fa-bell fa-lg"></i>
      </div>

      <!-- User section when not logged in -->
      <div *ngIf="!(isLoggedIn$ | async)">
        <button [routerLink]="['/register']">Join</button>
      </div>

      <!-- User section when logged in -->
      <div *ngIf="isLoggedIn$ | async" class="user-info dropdown hover-dropdown">
        <div class="d-flex align-items-center">
          <img
            [src]="(currentUser$ | async)?.profilePictureUrl || 'assets/image/user_def.png'"
            class="profile-img"
            alt="Profile"
          />
        </div>
        <ul class="dropdown-menu custom-dropdown-menu">
          <li><a class="dropdown-item"><i class="fas fa-user"></i> My Profile</a></li>
          <li [routerLink]="['/edit-profile']"><a class="dropdown-item"><i class="fas fa-cog"></i>Settings</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
      </div>

      <div *ngIf="isLoggedIn$ | async">
        <button>Upload</button>
      </div>
    </div>

    <div class="hamburger-icon" (click)="menuOpen = !menuOpen">
      <i class="fas"
         [ngClass]="menuOpen ? 'fa-times' : 'fa-bars'"
         [style.color]="menuOpen ? 'white' : 'black'"
         style="font-size: 30px;">
      </i>
    </div>

    <div class="hamburger-menu" *ngIf="menuOpen">
      <div class="explore-menu">
        <a href="#">Home</a>
        <a href="#">Leaderboard</a>
        <a href="#">Popular Searches</a>
        <a href="#">Pricing</a>
        <ng-container *ngIf="isLoggedIn$ | async">
          <hr class="bg-white">
          <a href="#">My Profile</a>
          <a href="#">Settings</a>
          <a href="#" (click)="logout()">Logout</a>
        </ng-container>
        <ng-container *ngIf="!(isLoggedIn$ | async)">
          <hr class="bg-white">
          <a [routerLink]="['/register']">Join</a>
        </ng-container>
      </div>
    </div>
  </nav>
</div>
