<nav [ngClass]="{'open': menuOpen}">
  <div class="container">

    <!-- Logo -->
    <div class="logo" (click)="goToHome()">
      <img src="assets/image/logo.png" width="50" height="50" alt="Logo">
    </div>

    <!-- Search bar -->
    <div class="search">
      <div class="search-bar">
        <input
          class="search-input"
          [(ngModel)]="currentSearch"
          type="text"
          placeholder="Search..."
        />
        <i class="fas fa-search"></i>
      </div>
    </div>

    <!-- Menu -->
    <div class="menu">
      <div class="custom-dropdown-btn">
          AI Generator
      </div>

      <div class="dropdown hover-dropdown">
        <div class="custom-dropdown-btn">
          Explore <i class="fa-solid fa-angle-down ms-1"></i>
        </div>
        <ul class="dropdown-menu custom-dropdown-menu">
          <li><a class="dropdown-item"><i class="fas fa-globe"></i> Discover Photos</a></li>
          <li><a class="dropdown-item"><i class="fas fa-trophy"></i> Leaderboard</a></li>
          <li><a class="dropdown-item"><i class="fas fa-medal"></i> Challenges</a></li>
          <li><a class="dropdown-item"><i class="fas fa-video"></i> Free Videos</a></li>
          <li><a class="dropdown-item"><i class="fas fa-blog"></i> Pixly Blog</a></li>
        </ul>
      </div>

      <!-- Login / Upload -->
      <button *ngIf="user" class="upload" routerLink="/public/profile/upload">Upload</button>
      <button *ngIf="!user" class="login" routerLink="/auth/login">Log in</button>
    </div>

    <!-- Hamburger icon -->
    <div
      (click)="toggleMenu()"
      [style.display]="windowWidth > 900 ? 'none' : 'inline-flex'">
      <i class="fas"
         [ngClass]="menuOpen ? 'fa-times' : 'fa-bars'"
         [style.color]="menuOpen ? 'white' : 'black'"
         style="font-size: 30px;">
      </i>
    </div>

    <!-- Hamburger menu -->
    <div class="hamburger-menu" *ngIf="menuOpen">
      <div class="explore menu">
        <a href="#">Home</a>
        <a href="#">Leaderboard</a>
        <a href="#">Popular Searches</a>
        <a href="#">Pricing</a>
      </div>
      <div class="line"></div>
    </div>

  </div>
</nav>
