<div class="hero">
    <img loading="lazy" src="assets/image/hero-bg.webp" alt="Hero Background" height="400px"  width="100%" class="hero-bg" />
    <div class="hero-overlay">
        <div class="hero-content container">
            <span class="ai">NEW AI FEATURE</span>
            <h1>Create custom product photos using AI</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis officiis tenetur itaque</p>
            <button class="btn btn-primary">Try It</button>
        </div>
    </div>
</div>

