.btn{
    background-color: #fff;
    border:1px solid #60606057;
    color: #191919;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 600;
}

.dropdown-toggle::after {
    display: none; 
}

.filter-icon{
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.btn-group.show .filter-icon {
    transform: rotate(-180deg);
}

.dropdown-menu.show {
  animation: fadeInDown 0.3s ease-out forwards;
  width: 100%;
}

.dropdown-menu {
  animation: fadeOut 0.3s ease-in forwards;
  width: 100%;
}

.menu-item{
    background-color: #fff !important;
}

.dropdown-item{
    padding: 10px 15px;
    color: var(--pixly-text-primary-color-hover);
}

 .dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus {
  background-color: transparent !important;
  color: inherit !important;
  font-weight: 600;
} 


.dropdown-item.active {
  font-weight: 600; 
  background-color: #fff;
}

.btn-group.active{
  width: 100%;
}



.btn-group button i{
  margin-left: 5px;
}

.btn-group button img{
  margin-right: 5px;
}

.btn-group.active button{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-content{
  width: 100%;
  justify-content: center;
  align-items: center;
}

.active .btn {
  width: 100%;
}



@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}