button {
  background-color: var(--pixly-color);
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-weight: 500;
  height: 44px;
}

button:hover:not(:disabled) {
  background-color: var(--pixly-color-hover);
}

button:disabled {
  background-color: var(--pixly-color);
  opacity: 0.7;
  cursor: not-allowed;
}

.spinner-border {
  width: 1.5rem;
  height: 1.5rem;
}
