<div class="container">
    <div class="upload-preview">
        <img src="assets/image/upload-preview.png" alt="">
        <h4>Drag and drop <br> to upload, or</h4>
        <button>Browse</button>

        <div class="upload-preview-info">
            <div class="upload-preview-info-column">
                <div class="upload-preview-info-item">
                    <i class="fa-regular fa-circle-check fa-sm" style="color: #02a388;"></i>
                    <span>Original content you captured</span>
                </div>
                <div class="upload-preview-info-item">
                    <i class="fa-regular fa-circle-check fa-sm" style="color: #02a388;"></i>
                    <span>Excludes graphic nudity, violence, or hate</span>
                </div>
            </div>
            <div class="upload-preview-info-column">
                <div class="upload-preview-info-item">
                    <i class="fa-regular fa-circle-check fa-sm" style="color: #02a388;"></i>
                    <span>Mindful of the rights of others</span>
                </div>
                <div class="upload-preview-info-item">
                    <i class="fa-regular fa-circle-check fa-sm" style="color: #02a388;"></i>
                    <span>To be downloaded and used for free</span>
                </div>
            </div>
            <div class="upload-preview-info-column">
                <div class="upload-preview-info-item">
                    <i class="fa-regular fa-circle-check fa-sm" style="color: #02a388;"></i>
                    <span>High quality photos</span>
                </div>
                <div class="upload-preview-info-item">
                    <i class="fa-regular fa-circle-check fa-sm" style="color: #02a388;"></i>
                    <span>Read the Pexels Terms</span>
                </div>
            </div>
        </div>
    </div>
</div>
