.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

.chart-container{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.single-chart{
    width: 45%;
}

.row-1-charts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.filter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

